.lp_body {
    font-family: Arial;
}
.lp_body *.btn {
    border-radius: 15px;
}

.lp_heading {
    background-color: #2C3E51;
    color: white;
}
.lp_heading_bar {
    height: 112px;
    clear: both;
}
.lp_heading_content {
    height: 100%;
}
.lp_heading_left_margin {
    width: 4%;
    height: 1px;
    float: left;
}
.lp_heading_image_container {
    padding-top: 20px;
    width: 100px;
    float: left;
}
.lp_heading_name_container {
    width: 200px;
    float: left;
}
.lp_heading_text_container {
    padding-top: 20px;
    font-size: large;
}
.lp_heading_column {
    width: 200px;
}
.lp_heading_summary_container {
    font-size: small;
}
.image-cropper {
    width: 72px;
    height: 72px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
img.lp_heading_content {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.progress-bar {
    background-color: #10A903;
    height: 10px;
}
.progress-bar.lp_progress_bar_background {
    background-color: #415162;
}
.lp_progress_bar_container {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lp_footer_bar {
    height: 50px;
}
.lp_footer_content {
    height: 100%;
}

.lp_filter_bar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}
.lp_filter_search {
    width: 29%;
}
.lp_filter_categories {
    padding-left: 7%;
    width: 24%;
}
.lp_filter_completed, .lp_filter_online {
    padding-left: 1%;
    width: 19%;
    font-size: smaller;
}
input[type="checkbox"].lp_filter_checkbox {
    vertical-align: middle;
    margin-top: 2px; /* this is needed because of quirks of bootstrap within Kallidus's portal, adjusts sizing */
}
.lp_filter_bar * .checkbox {
    min-height: 0;
}
.lp_filter_bar * .form-group {
    margin-bottom: 0; /* this is needed because of quirks of bootstrap within Kallidus's portal, adjusts sizing */
}
.lp_category_section, .lp_error_section {
    clear: both;
    width: 100%;
    background-color: #ECEFF4;
}
.lp_error_message {
    color: orangered;
    padding-top: 10px;
    padding-left: 4%;
    padding-bottom: 10px;
}
.lp_category_section_header {
    padding-top: 20px;
    padding-left: 4%;
    padding-bottom: 10px;
    font-size: large;
}
.lp_course_section {
    width: 100%;
}
.lp_course_column {
    width: 15.33%; /* 4% margin, 6 columns of 15.33%, 4% margin, total = 100% */
}
.lp_course_margin_column {
    width: 4%;
}
.lp_course_table {
    text-align: center;
}
.lp_course_summary_image {
    max-height: 200px;
    max-width: 135px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lp_course_summary_name {
    font-size: small;
    font-weight: bold;
}
.lp_truncate {
    max-width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
}
.lp_course_fully_completed, .lp_course_part_completed, .lp_course_not_started {
    font-size: smaller;
    font-style: italic;
}
.lp_course_fully_completed {
    color: #5ECF80;
}
.lp_course_part_completed, .lp_course_not_started {
    color: grey;
}
.lp_view_info_btn, .lp_hide_info_btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lp_view_info_btn, .lp_view_info_btn:disabled {
    border-color: white;
    background-color: white;
    color: #218DC3;
}
.lp_hide_info_btn {
    background-color: #218DC3;
    color: white;
}
.lp_hide_info_btn span {
    background-color: #218DC3;
}
.lp_expansion_row {
    margin-top: 10px;
}
.lp_expansion_indicator {
}
.arrow-up, .arrow-up-hidden {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.arrow-up {
    border-bottom: 25px solid white;
}
.arrow-up-hidden {
    border-bottom: 25px solid #ECEFF4; /* same as standard background color */
}
.lp_expansion_centraliser {
    margin: 0 auto;
}
.lp_category_section * .lp_expanded_course * {
    background-color: white;
}
.lp_expanded_course {
    width: 100%;
}
.lp_course_expanded_container {
}
.lp_course_expanded_image_box {
    width: 40%;
    vertical-align: top;
}
.lp_course_expanded_image {
    max-height: 350px;
    max-width: 300px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.lp_course_expanded_text_box {
    width: 60%;
    padding-left: 20px;
    vertical-align: top;
}
.lp_course_expanded_name {
    font-size: x-large;
    margin-top: 25px;
}
.lp_course_expanded_rating {
    padding-top: 5px;
    padding-bottom: 5px;
}
.lp_course_expanded_description, .lp_course_expanded_links {
    margin-bottom: 15px;
}
.lp_course_expanded_name, .lp_course_expanded_description,
.lp_course_expanded_lesson, .lp_course_expanded_lesson_divider {
    width: 500px; /* This needs to be hard-coded because of the way the expanding/shrinking description is implemented. :-( */
}
.lp_course_expanded_description {
    overflow: hidden;
}
.lp-paragraph-shrunk, .lp-paragraph-expanded {
    margin: 0;
    /* all the real styling is done using the TextOverflowClamp.js library. */
}
.lp-paragrap-more {
    float: right;
}
.lp_course_expanded_link {
    padding-right: 30px;
}
.lp_course_expanded_link_disabled {
    font-style: italic;
}
.lp_course_expanded_lessons {
}
.lp_course_expanded_lesson {
    padding-left: 10px;
    margin-bottom: 10px;
}
.lp_course_expanded_lesson_title {
    font-weight: bold;
}
.lp_star_filled {
    color: orange;
}
.lp_star_empty {
    color: grey;
}
.lp_course_expanded_lesson_divider {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.lp_course_lesson_button_container {
    text-align: right;
}
.lp_course_completed_btn, .lp_course_cancelled_btn {
    color: black;
}
.lp_course_bookable_btn {
    color: green;
    border-color: green;
    border-top-width:    2px; /*needs a heavier border*/
    border-bottom-width: 2px;
    border-left-width:   2px;
    border-right-width:  2px;
}
.lp_course_bookable_btn:hover, .lp_course_bookable_btn:active, .lp_course_bookable_btn:focus,
.lp_course_bookable_btn:hover span, .lp_course_bookable_btn:hover span, .lp_course_bookable_btn:focus span,
.lp_course_inprogress_btn, .lp_course_inprogress_btn span {
    background-color: green !important;
    color: white;
}
