.lp_body {
    font-family: Arial;
}

.lp_logo * {
    background-color: #202F40;
}
.lp_logo_bar {
    height: 90px;
}
.lp_logo_content {
    height: 100%;
}
.lp_heading * {
    background-color: #2C3E51;
    color: white;
}
.lp_heading_bar {
    height: 112px;
}
.lp_heading_content {
    height: 100%;
}
.lp_heading_image_container {
    padding-top: 20px;
}
.lp_heading_text_container {
    padding-top: 20px;
    font-size: large;
}
.lp_heading_summary_container {
    font-size: small;
}
.image-cropper {
    width: 72px;
    height: 72px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
img.lp_heading_content {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.progress-bar {
    background-color: #10A903;
    height: 10px;
}
.progress-bar.lp_progress_bar_background {
    background-color: #415162;
}
.lp_progress_bar_container {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lp_category_section * {
    background-color: #ECEFF4;
}
.lp_category_section_header {
    margin-top: 20px;
    margin-bottom: 10px;
}
.lp_course_section {
    width: 100%;
}
.lp_course_table {
    text-align: center;
    margin: auto;
}
.lp_course_summary_image {
    max-height: 250px;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lp_course_summary_name {
    font-size: small;
    font-weight: bold;
}
.lp_truncate {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
}
.lp_course_fully_completed {
    color: green;
    font-style: italic;
}
.lp_course_part_completed {
    color: grey;
    font-style: italic;
}
.lp_course_not_started {
    color: grey;
    font-style: italic;
}
