.lp_body {
    font-family: Arial;
}
.btn {
    border-radius: 15px;
}

.lp_logo * {
    background-color: #202F40;
}
.lp_logo_bar {
    height: 90px;
}
.lp_logo_content {
    height: 100%;
}
.lp_heading * {
    background-color: #2C3E51;
    color: white;
}
.lp_heading_bar {
    height: 112px;
}
.lp_heading_content {
    height: 100%;
}
.lp_heading_image_container {
    padding-top: 20px;
}
.lp_heading_text_container {
    padding-top: 20px;
    font-size: large;
}
.lp_heading_summary_container {
    font-size: small;
}
.image-cropper {
    width: 72px;
    height: 72px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
img.lp_heading_content {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.progress-bar {
    background-color: #10A903;
    height: 10px;
}
.progress-bar.lp_progress_bar_background {
    background-color: #415162;
}
.lp_progress_bar_container {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lp_footer_bar {
    height: 50px;
}
.lp_footer_content {
    height: 100%;
}

.lp_filter_bar {
    margin-top: 15px;
}

.lp_category_section * {
    background-color: #ECEFF4;
}
.lp_category_section_header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: large;
}
.lp_course_section {
    width: 100%;
}
.lp_course_table {
    text-align: center;
    margin: auto;
}
.lp_course_summary_image {
    max-height: 250px;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lp_course_summary_name {
    font-size: small;
    font-weight: bold;
}
.lp_truncate {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
}
.lp_course_fully_completed {
    color: #5ECF80;
    font-style: italic;
}
.lp_course_part_completed, .lp_course_not_started {
    color: grey;
    font-style: italic;
}
.lp_view_info_btn, .lp_hide_info_btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lp_view_info_btn, .lp_view_info_btn:disabled {
    border-color: white;
    background-color: white;
    color: #218DC3;
}
.lp_hide_info_btn {
    background-color: #218DC3;
    color: white;
}
.lp_hide_info_btn span {
    background-color: #218DC3;
}
.lp_expansion_row {
    margin-top: 10px;
}
.lp_expansion_indicator {
}
.arrow-up, .arrow-up-hidden {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.arrow-up {
    border-bottom: 25px solid white;
}
.arrow-up-hidden {
    border-bottom: 25px solid #ECEFF4; /* same as standard background color */
}
.lp_expansion_centraliser {
    margin: 0 auto;
}
.lp_category_section * .lp_expanded_course * {
    background-color: white;
}
.lp_expanded_course {
    width: 100%;
}
.lp_course_expanded_image {
    max-height: 350px;
    max-width: 300px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.lp_course_expanded_name {
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 15px;
}
.lp_course_expanded_description, .lp_course_expanded_links {
    margin-bottom: 15px;
}
.lp_course_expanded_description {
    overflow: hidden;
}
.lp-paragraph-shrunk, .lp-paragraph-expanded {
    margin: 0;
    /* all the real styling is done using the TextOverflowClamp.js library. */
}
.lp_course_expanded_lessons {
}
.lp_course_expanded_lesson {
    margin-bottom: 10px;
}
.lp_course_expanded_lesson_title {
    font-weight: bold;
}
.lp_star_filled {
    color: orange;
}
.lp_star_empty {
    color: grey;
}
.lp_course_expanded_lesson_divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lp_course_lesson_button_container {
    text-align: right;
}
.lp_course_completed_btn, .lp_course_cancelled_btn {
    color: black;
}
.lp_course_bookable_btn {
    color: green;
    border-color: green;
    border-top-width:    2px; /*needs a heavier border*/
    border-bottom-width: 2px;
    border-left-width:   2px;
    border-right-width:  2px;
}
.lp_course_bookable_btn:hover, .lp_course_bookable_btn:active, .lp_course_bookable_btn:focus,
.lp_course_bookable_btn:hover span, .lp_course_bookable_btn:hover span, .lp_course_bookable_btn:focus span,
.lp_course_inprogress_btn, .lp_course_inprogress_btn span {
    background-color: green !important;
    color: white;
}
